@import "../reindeer/legacy-styles.css";

textarea.v-textarea-monospace {
    font-family: 'Courier New', Courier, monospace;
}

.v-customcomponent-toolbar {
    padding: 3px;
}



/*experimental stuff*/

.header-bar-header {
    padding: 2px 4px;
    margin: 2px 2px 0 2px;
    border: 1px solid #CCC;
}

.header-bar-header-selected {
    background: rgb(201, 201, 201);
}

.header-bar-header-title .v-button-caption {
    color: #033a73;
    text-decoration: none;
}

.header-bar-close-button {
    border: none;
    background: none;
    width: 17px;
}

.header-bar-header .v-menubar {
    background: none;
    width: 32px;
    padding: 0;
    margin: 0;
}

.page-content-panel {
    border-top: 1px solid #CCC;
    padding-top: 2px;
}
