$v-app-loading-text: "";

$v-font-family: sans-serif;
$v-font-size: 14px;
$v-focus-style: 0 0 0 0 rgba($v-focus-color, .5);
$v-animations-enabled: false;
$v-border-radius: 2px;
$v-unit-size: 30px;

@import "../valo/valo";

@mixin vdbc {

  @include valo;

  @mixin monospace {
    font-family: 'Courier New', Courier, monospace;
    color: black;
  }

  textarea.v-textarea.v-textarea-monospace {
    @include monospace
  }

  input.v-textfield.v-textfield-monospace {
    @include monospace
  }

}
