$v-app-loading-text: "";

$v-font-family: Helvetica, Arial, 'lucida grande', tahoma, verdana, arial, sans-serif;
$v-font-size: 14px;
$v-focus-style: 0 0 0 0 rgba($v-focus-color, .5);
$v-animations-enabled: false;
$v-border-radius: 2px;
$v-unit-size: 30px;

@import "../valo/valo";

@mixin monospace {
  font-family: 'Courier New', Courier, monospace;
  color: black;
}

@mixin vdbc {

  @include valo;

  textarea.v-textarea.v-textarea-monospace {
    @include monospace
  }

  input.v-textfield.v-textfield-monospace {
    @include monospace
  }

  .v-menubar > .v-menubar-menuitem .v-icon {
  	font-size: 14px;
  }
  
  div.v-layout.v-horizontallayout-toolbar {
  	height: 33px !important;
  }
  
  #result-layout {
 	 margin-top: 2px;
  }

}
